{
  "openapi": "3.0.0",
  "info": {
    "title": "Sea-Sanskar Api",
    "description": "District level event organizer & ticket booking APIs",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://ticket.sanskargroup.in:5320/api/auth",
      "description": "Auth APIs"
    },
    {
      "url": "https://ticket.sanskargroup.in:5320/api/event",
      "description": "Event APIs"
    },
    {
      "url": "https://ticket.sanskargroup.in:5320/api/payment",
      "description": "Payment APIs"
    },
    {
      "url": "https://ticket.sanskargroup.in:5320/api/home",
      "description": "Home APIs"
    },
    {
      "url": "https://ticket.sanskargroup.in:5320/api/order",
      "description": "Order APIs"
    },
    {
      "url": "https://ticket.sanskargroup.in:5320/api/qrscan",
      "description": "qrscan APIs"
    },
    {
      "url": "https://ticket.sanskargroup.in:5320/api/ticket",
      "description": "Ticket APIs"
    }
  ],
  "paths": {
    "/verify-otp": {
      "post": {
        "description": "",
        "responses": {
          "default": {
            "description": ""
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "length": {
                    "example": "any"
                  },
                  "mobile": {
                    "example": "any"
                  },
                  "otp": {
                    "example": "any"
                  },
                  "deviceId": {
                    "example": "any"
                  },
                  "deviceName": {
                    "example": "any"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/send-otp": {
      "post": {
        "description": "",
        "responses": {
          "default": {
            "description": ""
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "length": {
                    "example": "any"
                  },
                  "mobile": {
                    "example": "any"
                  },
                  "resend": {
                    "example": "any"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/refresh-token": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "x-refresh-token",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/send-otp-validator": {
      "post": {
        "description": "",
        "responses": {
          "default": {
            "description": ""
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "length": {
                    "example": "any"
                  },
                  "mobile": {
                    "example": "any"
                  },
                  "resend": {
                    "example": "any"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/verify-otp-validator": {
      "post": {
        "description": "",
        "responses": {
          "default": {
            "description": ""
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "length": {
                    "example": "any"
                  },
                  "mobile": {
                    "example": "any"
                  },
                  "otp": {
                    "example": "any"
                  },
                  "deviceId": {
                    "example": "any"
                  },
                  "deviceName": {
                    "example": "any"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/logout-validator": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "x-refresh-token",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/edit-profile": {
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "x-access-token",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "example": "any"
                  },
                  "name": {
                    "example": "any"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/refresh-token-validator": {
      "get": {
        "description": "",
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/addEventUserDetail": {
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "x-access-token",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "example": "any"
                  },
                  "email": {
                    "example": "any"
                  },
                  "mobile": {
                    "example": "any"
                  },
                  "event_id": {
                    "example": "any"
                  },
                  "sync_user_data": {
                    "example": "any"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/getevent": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "eventId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/ticket-types/{eventId}": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "eventId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/validator-event": {
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "x-access-token",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/initiate": {
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "x-access-token",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "length": {
                    "example": "any"
                  },
                  "orderId": {
                    "example": "any"
                  },
                  "gateway": {
                    "example": "any"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/webhook": {
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "x-access-token",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-razorpay-signature",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/home-data": {
      "get": {
        "description": "",
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/create-order": {
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "x-access-token",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "length": {
                    "example": "any"
                  },
                  "forEach((item": {
                    "example": "any"
                  },
                  "eventId": {
                    "example": "any"
                  },
                  "tickets": {
                    "example": "any"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/confirm-order/{orderId}": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-access-token",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/verify-payment": {
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "x-access-token",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "razorpay_order_id": {
                    "example": "any"
                  },
                  "razorpay_payment_id": {
                    "example": "any"
                  },
                  "razorpay_signature": {
                    "example": "any"
                  },
                  "bookingId": {
                    "example": "any"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/qrscan-validator": {
      "post": {
        "description": "",
        "responses": {
          "default": {
            "description": ""
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "length": {
                    "example": "any"
                  },
                  "qrCode": {
                    "example": "any"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/ticket-scan": {
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "x-access-token",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user-agent",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "length": {
                    "example": "any"
                  },
                  "eventId": {
                    "example": "any"
                  },
                  "qrCode": {
                    "example": "any"
                  },
                  "tickets": {
                    "example": "any"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/my-ticket": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "x-access-token",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/cancle-ticket": {
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "x-access-token",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "ticketId": {
                    "example": "any"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/update-status": {
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "x-access-token",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "qrHash": {
                    "example": "any"
                  },
                  "action": {
                    "example": "any"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/free-ticket": {
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "x-access-token",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "available_ticket": {
                    "example": "any"
                  },
                  "ticket_type_id": {
                    "example": "any"
                  },
                  "event_id": {
                    "example": "any"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "x-access-token",
        "description": "Access token"
      }
    }
  },
  "security": [
    {
      "apiKeyAuth": []
    }
  ]
}